<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Task Management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/styles.css"  />
  </head>

  <body>
    <div>
      <img src="../static/images/logo.png" alt="logo" title="logo" />
    </div>

    <p>Please select an option</p>
    <ol>
      <li><a href="tasks/list" >tasks</a></li>
    </ol>

    <p>Now you are viewing a functional web application template file.</p>

    <div >&copy; 2024 static template</div>
  </body>

</html>